.menu {
    width: 100%;
    background-color: aquamarine;
    margin: 0;
    padding: 5px 2vw;
}

.content {
    padding: 20px 2vw;
    background-color: #eee;
    margin: 20px 2vw;
    min-height: 83vh;
}