.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: aquamarine;
    margin: 0;
    padding: 5px 2vw;
}

.content {
    padding: 20px 2vw;
    background-color: #eee;
    margin: 20px 2vw;
    min-height: 83vh;
}

.button {
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
}

.nav-sidenav {
    background-color: white;
    padding: 10px;
}