<div class="resume">
    <div class="itens col-7">
        <h3>Itens:</h3>
        <li *ngFor="let product of data?.products">
            <img src={{product.img}} alt="product" class="img">
            Produto: {{product.name}} - 
            Valor: R$ {{product.price.toFixed(2)}} - 
            Quantidade: {{product.qtd}} - 
            Valor Total: R$ {{(product.price * product.qtd).toFixed(2)}}
        </li>
    </div>
    <div class="values col-5">
        <div class="totals">
            <div class="coupon">
                <h5>Insira aqui seu cupom de desconto:</h5>
                <input matInput type="text" [(ngModel)]="coupon">
                <button class="button" mat-button (click)="applyCoupom()">Aplica Cupom</button>
            </div>
            <br>
            <h5>Valor Total: R$ {{total.toFixed(2)}}</h5>
            <h5>Desconto: R$ {{discount.toFixed(2)}}</h5>
            <h2>Valor Final: R$ {{totalWithDiscount.toFixed(2)}}</h2>
    
            <div class="footer-buttons">
                <button class="button" mat-button [routerLink]="['/']">Voltar</button>
                <button class="button" mat-button (click)="finalize()">Finalizar Compra</button>
            </div>
        </div>
    </div>
</div>