.resume {
    display: flex;
}

.footer-buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: white;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: bold;
}

.totals {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}